<html>
<head>
    <title>Hello!</title>
</head>
<body>

{% if name is defined %}
    <h1>Hello, {{ name }}</h1>
{% else %}
    <h1>... who are you?</h1>
{% endif %}

<a href="/">Reload</a>

</body>
</html>